/* Add CSS styling here */

html{
    font-size: 62.5%;

}
*{
    box-sizing:border-box;
    padding:0%;
    margin:0%;
    
}
.container{
    border: 5px solid red;
    max-width:100%;
    width: 1200px;
    margin: 0 auto;
}
body{
    background-color: #FFFAF0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.22em;
    /* margin:1%;
    padding:1%; */
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 3rem;
}
h3, h4, p{
    font-size: 2rem;

}
header{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 2% 0% 0% 4%;
    background-color: #4682B4;
    font-color: FFFAF0;
}
nav{
    width:100%;
    display: flex;
    justify-content: flex-start;
}

.info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 4%;  
}
.info img{
    width: 100%;
}
.info div{
    width: 48%;
}
.info-sub{
    display: flex;
    align-items: flex-end;
    line-height: 400%;
}
.info-sub p{
    line-height: 200%;
}
.info-sub p a{
    padding: 0%;
    margin: 0%;
}
.info-sub div{
    width: auto;
    padding: 0%;
}
.info-sub button{
    width: 120px;
    height: 40px;
    padding: 3%;
}
.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 4%; 
}
.project{
    width: 22%;
    height: 10%;
    padding: 0.5%;
}
.project img{
    width: 100%;
}
h4{
    text-align: center;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4682B4;
    padding: 4%;
}
button{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.22em;
    border-radius: 12%;
    border: 2px solid #8FBC8F;
    width: 120px;
    height: 40px;
    box-sizing: initial;
    margin: 2% 1%;
    padding: 0%;
    background-color: white;
    font-size: 1.6rem;
}
button:hover{
    background-color: #FFFACD;

}
@media(max-width: 800px){
    button{
        font-size: 1.3rem;

    }
    header{
        padding: 2% 0% 2% 0%;
    }
    header h1{
        margin: auto;
        padding: 2%;
    }
    nav button{
        margin: auto;
        display: flex;
        justify-content: space-around;
        padding: 1%;
    }
    .info-sub div p{
        font-size: 1.5rem;
    }
    .info div{
        width: 100%;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4%;  
    }
    .info div{
        padding: 4%;
    }
    .info-sub{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info-sub button{
        display: flex;
        justify-content: space-around;
        margin: 2% auto 2% auto;
    }
    h2, p{
        text-align: center;
        padding: 2%;
    }
}
@media(max-width: 500px){
    button{
        height: 30px;
        width: 100px;
    }
    h2, p{
        text-align: center;
        padding: 2%;
    }
    .project{
        width: 44%;
        height: 10%;
        padding: 0.5%;
    }
    .projects{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 4%;
    }
    
}